body{
    font-family: 'PT Serif', serif;
}

.bg-yellow{
    background-color: #FFC017
}

.border-bottom-dark-1{
    border-bottom: 1px solid black;
}

.no-decoration-and-dark{
    text-decoration: none;
    font-weight: bolder;
    color: black;
}
.no-decoration-and-dark:hover{
    color: black;
}

.ordinal-nums{
    color: #E8E6E6;
}

.brief-article-link{
    text-decoration: none;
    color: #757575;
}
.brief-article-link:hover{
    color: #757575;
}

.btn-text-color{
    color: #757575;
}